@media only screen and (max-width: 1280px) {
  .card-video-youtube {
    width: 1280px;
    height: 720px;
  }
  .channel-list {
    padding-top: 1rem;
  }

  .youtube-section {
    padding-top: 1rem;
  }
  .discord-embed {
    width: 1080px;
    height: 720px;
  }
}

@media only screen and (max-width: 990px) {
  .card-video-youtube {
    width: 720px;
    height: 680px;
  }
  .discord-embed {
    width: 720px;
    height: 480px;
  }
}

@media only screen and (max-width: 768px) {
  .card-video-youtube {
    width: 480px;
    height: 360px;
  }
  .discord-embed {
    width: 480px;
    height: 360px;
  }
}

@media only screen and (max-width: 480px) {
  .card-video-youtube {
    width: 360px;
    height: 240px;
  }
  .discord-embed {
    width: 360px;
    height: 240px;
  }
}
