@media only screen and (min-width: 1280px) {
  .card-video-youtube {
    width: 31rem;
    height: 28rem;
  }
  .channel-list {
    padding-top: 1rem;
  }

  .youtube-section {
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .card-video-youtube {
    width: 31rem;
    height: 28rem;
  }
}
@media only screen and (min-width: 240px) {
  .card-video-youtube {
    width: 11rem;
    height: 18rem;
  }
}
